<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Rodrigo Ramírez Norambuena">
    <title> Enter your ssh-key </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lineicons/style.css') }}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" class="sidebar-closed">
      <!--main content start-->
      <section id="main-content" style="margin-left: 0px;">
          <section class="wrapper">
              <div class="row">
                  <div class="col-lg-12">
                        <div class="col-lg-6">
                            <form action="{{ url_for('add_key')}}" method="post">
                                <textarea class="form-control" rows="5" name="key" id="key" placeholder="Enter ssh keys"></textarea>
                                <input type="submit" class="btn btn-info" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
          </section>
      </section>
  </section>

    <!-- js placed at the end of the document so the pages load faster -->

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}" type="text/javascript"></script>


  </body>
</html>
